*{
margin:0px;
padding:0px;
}
html, body{
background-repeat:no-repeat;
height:100%;
width:100%;
}
a{
text-decoration:none;
}
#menu{
width:100%;
height:10%;
background-color:lightgrey;
}
#logo{
width:15%;
height:65%;
margin-left:15%;
margin-top:1%;
background-color:white;
float:left;
}
#linksBlock{
width:50%;
height:65%;
margin-top:1%;
margin-left:5%;
background-color:white;
float:left;
}
.links{
width:20%;
height:100%;
background-color:blue;
margin-left:5%;
float:left;
}
a.linkstext{
color:white;
font-size:150%;
font-family:sans-serif;
font-weight:bold;
}
#Text{
width:70%;
height:100%;
margin-left:15%;
background-color:lightblue;
}
#Podval{
width:100%;
height:25%;
background-color:black;
}
#PodvalLogoBlock{
width:15%;
height:53%;
background-color:white;
float:left;
margin-top:3%;
margin-left:14%;
}
#PodvalNumberBlock{
width:14%;
height:30%;
background-color:white;
float:left;
margin-top:3%;
margin-left:5%;
}
#PodvalLocationBlock{
width:14%;
height:30%;
background-color:white;
float:left;
margin-top:3%;
margin-left:5%;
}
#PodvalMailBlock{
width:14%;
height:30%;
background-color:white;
float:left;
margin-top:3%;
margin-left:5%;
}